# Licensed Materials - Property of IBM
# (C) Copyright IBM Corporation 2016, 2020 All Rights Reserved
# US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
# Copyright (c) 2020 Red Hat, Inc.

# Default values for console-chart
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

org: open-cluster-management

global:
  imageOverrides:
    console_ui: ""
    console_api: ""
    console_header: ""
    console: ""
    pullPolicy: Always

pullSecret: null
arch:
- amd64
- ppc64le
- s390x

compliance:
  mcmNamespace: null
cfcRouterUrl: "https://management-ingress:443"
navPort: 443

enabled: true

ocpingress: ""

hubconfig:
  nodeSelector: null
  replicaCount: 1

console:
  resources:
    requests:
      memory: "24Mi"
      cpu: "3m"
    limits:
      memory: "40Mi"

consoleui:
  resources:
    requests:
      memory: "60Mi"
      cpu: "5m"
    limits:
      memory: "512Mi"

consoleapi:
  resources:
    requests:
      memory: "80Mi"
      cpu: "5m"
    limits:
      memory: "512Mi"

consoleheader:
  ingressPath: '/multicloud/header'
  resources:
    requests:
      memory: "100Mi"
      cpu: "10m"
    limits:
      memory: "2Gi"
  uiconfig:
    icpText: "Red Hat Advanced Cluster Management for Kubernetes"
    about:
      text: "Red Hat Advanced Cluster Management for Kubernetes"
      logoAltText: "Red Hat Advanced Cluster Management for Kubernetes"
      edition: "Enterprise"
    header:
      path: "/multicloud/header/graphics/RHACM-Logo.svg"
      width: "355px"
      height: "18px"
      supportUrl: "https://ibm.biz/icpsupport"
      docUrlMapping: "/examples/header/custom"
      logoAltText: "Red Hat Advanced Cluster Management for Kubernetes"

clusterImageSets:
  subscriptionPause: "false"
  acmHiveOenshiftReleaseUrl: "https://github.com/open-cluster-management/acm-hive-openshift-releases.git"